<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHQTC-BCC</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/assets/img/bcc_logo.png' %} ">
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">

  <!-- from main SQTC-->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>
<body>
  
    <div class="main-body">

        <section id="topbar" class="d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
              <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="/home">SHQTC WEBSITE</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+880 1713-118860</span></i>
              </div>
              <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
              </div>
            </div>
          </section>
        
          <!--Body part-1-->
 
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <section style="background-color: #2779e2;">
        <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-8">
            
            {% if user.is_authenticated %}
                    
            <h2 class="text-white mb-4 align-items-center" style="text-align: center;">Welcome {{ user.get_full_name }}.</h2>
            {% else %}
                <p>Welcome, new user. Please log in.</p>
            {% endif %}
           
            {% if m %}<p class="text-white mb-4 align-items-center" style="text-align: center; color: yellow;">{{m}}</p>{% endif %}
            
            <div style="border-radius: 15px;">
              <div class="card-body">
                {% if request.user.is_staff %}
                   <!--
                      {% for pr in pr_details %}
                      #{% endfor %}
                    product new
                   -->
                   <h2 class="text-white mb-4 align-items-center" style="text-align: center;">{{p_name}}</h2>
                   <p class="text-white mb-4 align-items-center" style="text-align: center;">Last updated by {{update_user}} on {{update_date}}.</p>
                   
                   <div class="px-5 py-2">
                    <form action="{% url 'updateproduct' %}" method="post"> 
                      {% csrf_token %}
                      <div class="px-2 py-2">
                      <div style="width: 100%;  background-color: whitesmoke; display: flex; flex-direction: row; gap: 5px; padding: 6px; border-radius: 5px;">
                        
                        <div >
                          <input type="text" id="id" name="id" style="display: none;" class="form-control form-control-lg" value="{{p_id}}" />            
                        </div>

                        <div style="flex: 0.4;">
                          <label for="status"><span style="font-weight: 700; ;">Status: </span></label>
                          <select id="status" name="status">
                            <option value="NEW"{% if status == 'NEW' %} selected{% endif %}>NEW</option>
                            <option value="OPEN"{% if status == 'OPEN' %} selected{% endif %}>OPEN</option>
                            <option value="IN PROGRESS"{% if status == 'IN PROGRESS' %} selected{% endif %}>IN PROGRESS</option>
                            <option value="COMPLETED"{% if status == 'COMPLETED' %} selected{% endif %}>COMPLETED</option>
                            <option value="CLOSED"{% if status == 'CLOSED' %} selected{% endif %}>CLOSED</option>
                            <option value="REOPEN"{% if status == 'REOPEN' %} selected{% endif %}>REOPEN</option>
                          </select>
                         </div>

                         <div style="flex: 0.6; align-items: start;">
                          <label for="users"><span style="font-weight: 700;">Users: </span></label>
                          <select id="users" name="users" multiple>
                            {%for user in users%}
                               <option value='{{user.get_username}}'
                               {%for e in users_list%}
                                  {% if e == user.get_username %} selected{% endif %}
                               {%endfor%}
                               >{{user.get_username}}</option>
                            {%endfor%}
                            
                          </select>
                         </div>
                         <div style="flex: 0.08;">
                          <button type="submit"class="btn btn-primary">UPDATE</button>
                        </div>
                       <!--
                         <div  style="flex: 0.15;">
                          <span style="font-weight: 700; ;"> Status :</span> {{status}}
                        </div>
                      
                        <div  style="flex: 0.25;">
                          <span style="font-weight: 700; ;"> Last Updated by :</span> {{update_user}}
                        </div>
                        <div  style="flex: 0.25;">
                          <span style="font-weight: 700; ;"> update date :</span> {{update_date}}
                        </div>
                        -->
                       
                      </div>
                    </form>
                    </div>
                   </div>
                {% endif %}

              </div>
            </div>
            
            

          </div>
          <br>
        </div>
      </div>
    </form>
    </section>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>SQTC</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="">SQTC TEAM@RAZU_SHARIF</a>
      </div>
    </div>
  </footer><!-- End Footer -->
    <!--End of body--> 
    </div>
    
    <!-- Vendor JS Files -->
    
    <script src="{% static '/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/rs.js' %}"></script>
</body>
</html>

